* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 8rem auto;
    width: 40%;
    height: auto;
    background-color: #f8f8f8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    
}

.container p {
    padding: 2rem 0;
    text-align: center;
    
    
}

.container button{

    margin-bottom: 1rem; 
    background-color: black;
    color: white;
    padding: 1.2rem;
    border: none
}
.container input {
    margin-bottom: 1rem; 
  
    color: white;
    padding: 1.2rem;
    border: none;
    display: none;
    
}
